
.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.mdl-card {
    margin: 0 auto; 
    margin-top: 10%;    
}
.mdl-card_title-text {
    text-align: center; 
}

.mdl_card-location-subtitle {
    text-align: left; 
    margin: 5%;
}