
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}

.location-search {
    grid-column: 1;
    grid-row: 2/4;    
    background: gray;
}

.location-search p {
    margin-left: 20px;
}

#location {
    height: 50px;
    width: auto;
    margin-left: 20px;
}