.game-form {
    display: block;
    margin: 0 auto;
    border: solid black;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.game-title {
    padding-left: 20px;
    padding-right: 20px;
}

.game-inputs {
    padding-bottom: 20px;
    padding-left: 20px;
}

.game-result {
    padding-bottom: 20px;
    padding-left: 20px;
}

.show-selection {
    display: inline;
    padding-left: 20px;
}

#selection {
    display: inline;
}

#comp-selection { 
    display: inline;
}
